.speech {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #000;
}
.direction {
    font-family:'Courier New', Courier, monospace;
    font-size:medium;
    color:#000;
}
.direction:hover{
    background-color:bisque;
    color: #000;
}
.VOITSKI{
    color:brown;
}
.SONIA{
    color:cadetblue;
}
.ASTROFF{
    color:cornflowerblue;
}
.HELENA{
    color:darkcyan;
}
.HELENA:hover{
    text-shadow: 2px 2px 5px black;
}
.ASTROFF:hover{
    text-shadow: 3px 3px 6px seagreen;
}

table,th,td{
    border:1px solid darkgoldenrod;
    color:brown;
    border-collapse: collapse;
    padding-left: 2px;
    padding-bottom: 3px;
    margin-top: 2px;
}
tr:nth-child(odd) {
    background-color:cyan;
}
th{text-align: center;}
td{text-align: left;}
